<html>
    <head>
        <link rel="stylesheet" href="estilos.css">
    </head>
    <body>
        
       <% for(i=0;i<11;i++){ %>
            <h2><%=bliss%></h2>
            <% } %>

        
           <% if(bliss){ %>
                <p>Bring me candies</p>
           <% }else{ %>
                <p>Gimme more!</p>
          <%  } %>

       
       
    </body>
</html>