<form action="/tsuki" method="post">
    <input placeholder="tu nombre" name="username" type="text" >
    <input placeholder="Tu contraseña" name="password" type="password">
    <input placeholder="tu edad" name="age" type="text">
    <input placeholder="Que te gusta comer?" name="favoriteFood" type="text">
    <input type="submit">
</form>